@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
}
header h1 {
    font-size: 40px;
    color: white;
    font-family: 'Sacramento', cursive;
}
header nav {
    display: flex;
    gap: 30px;
}
header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.3s;
    color: white;
}
header nav a.active {
    background-color: #2a2a7a;
}
header nav a:hover {
    background-color: #2a2a7a;
}
header nav:hover > a:not(:hover) {
    background: none;
}

@media (max-width: 1024px) {
    header {
        height: auto;
        padding: 15px 5%;
        justify-content: space-between; 
    }
    header h1 {
        font-size: 30px;
        display: inline-block;
    }
    header nav {
        flex-direction: row;
        gap: 15px;
        margin-top: 0;
    }
    header nav a {
        padding: 10px 20px;
        font-size: 16px;
    }
    .home .title {
        font-size: 60px;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 15px 3%;
    }
    header h1 {
        display: none; 
    }
    header nav {
        flex-direction: row;
        gap: 15px;
        margin-top: 0;
    }
    header nav a {
        padding: 8px 12px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header nav a {
        padding: 6px 10px;
        font-size: 12px;
    }
}

.home {
    display: flex;
    height: 100dvh;
    background: linear-gradient(to top, #D2E2FB 30%, #86A8DB);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.about {
    padding: 50px;
    background-color: #2a2a7a;
    color: white;
    position: relative;
    z-index: 100;
}
.about h1 {
    font-size: 40px;
}

.about p {
    font-size: 1.2em; 
}


.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0d0a5e; 
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #261452; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2a2a7a;
}

.skills {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2f2f80;
    color: white;
    border-radius: 10px;
}

.heading h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: center;
}


/* Tabs */
.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.tab-btn {
    flex: 1;
    max-width: 120px;
    padding: 10px;
    border: none;
    font-size: medium;
    background-color: #293ba1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}


.tab-btn:hover {
    background-color: #374388;
}

/* Skills List */
.tab-content {
    display: none;
   
}

.tab-content.active {
    display: block;
}

.skill {
    margin-bottom: 15px;
}

.skill-name {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: serif;
}

.skill-name span {
    color: white;
}


.skill-name i {
    font-size: 20px;
    color: white;
}

.heading h1{
    color: white;
}
/* Progress Bar */
.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #a7aec4;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.progress {
    height: 100%;
    background-color: #3350b1;
    border-radius: 10px;
    transition: width 0.7s ease;
}

.progress::after {
    content: attr(data-progress);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(15, 7, 85); 
    font-size: 10px;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
    .skills {
        max-width: 90%;
    }

    .tabs {
        flex-direction: row;
        gap: 5px;
    }

    .tab-btn {
        flex: none;
        font-size: 14px;
        padding: 8px;
    }

    .skill-name {
        font-size: 14px;
    }

    .progress-bar {
        height: 16px;
    }
}

@media (max-width: 480px) {
    .tabs {
        flex-direction: column;
        align-items: center;
    }

    .tab-btn {
        width: 100%;
        max-width: 100%;
    }

    .skill-name {
        font-size: 14px;
    }

    .progress-bar {
        height: 14px;
    }
}

/* General Styles */
#projects {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2a2a7a; /* Purple background */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align content to the bottom */
  }
  
  .heading-project h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #fff; /* White text for better contrast */
  }
  
  /* Projects Grid */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #4a54ad; /* White background for the grid */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(231, 84, 84, 0.1); /* Add shadow for depth */
    padding: 20px; /* Add padding inside the grid */
    margin-bottom: 20px; /* Space at the bottom */
  }
  
  /* Project Item */
  .project-item {
    background: #433e94;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .project-info {
    padding: 20px;
  }
  
  .project-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: whitesmoke;
  }
  
  .project-info p {
    font-size: 1rem;
    color: #beb9cf;
    line-height: 1.5;
  }
  
 /* Project Image Container */
.project-img {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Prevent image overflow */
    height: 200px; /* Set a fixed height for the image container */
  }
  
  /* Image Styling */
  .project-img img {
    width: 100%; /* Make the image fill the container width */
    height: 100%; /* Make the image fill the container height */
    object-fit: cover; /* Ensure the image covers the container without distortion */
    border-radius: 10px; /* Optional: Add rounded corners to the image */
  }
  

#Contact{
    padding: 40px 15%;
    background-color: #2a2a7a;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap: 6rem; 
}

.contact-img img{
    max-width: 100%;
    width: 720px; 
    height: auto;
    border-radius: 20px;

}

.contact-form h1{
    font-size: 50px;
    color:#fff;
    margin-bottom: 30px;
}

span{
    color:#230931; 
}

.contact-form p{
    color:#c6c7d8bf; 
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
}

.contact-form form{
    position: relative;
}

.contact-form form input, form textarea{
    width: 100%; 
    padding:17px; 
    border:none; 
    outline:none; 
    background:rgba(0, 0, 0, 0.5); 
    color:#fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;

}

.contact-form form .btn{
    display: inline-block;
    background-color: transparent;
    border: 2px solid #858d96; 
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px; 
    width: 220px; 
    transition: ease .20s;
    cursor: pointer; 
    color: #a29eb1; 
}

.contact-form form .btn:hover{
    border: 2px solid #c0bec9; 
    background:transparent; 
    transform: scale(1.01); 
    color: whitesmoke;
}

@media (max-width: 1024px) {
    #Contact {
        padding: 40px 5%; 
        grid-template-columns: 1fr; 
        align-items: start;
        grid-gap: 3rem; 
    }

    .contact-img {
        grid-column: 1; 
        margin-bottom: 3rem;
    }
}

@media (max-width: 768px) {
    .contact-img img {
        max-width: 100%;
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
}

@media (max-width: 480px) {
    .contact-form h1 {
        font-size: 30px;
    }

    .contact-form p {
        font-size: 1rem; 
        line-height: 1.4; 
    }

    .contact-form form .btn {
        width: 180px; 
        font-size: 1rem; 
    }
}
footer{
    background-color: #291c57;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

   #container{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
   }

   button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #918cd8; /* Black background color */
    border-radius: 1.625rem;
    transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
}

button.learn-more .circle .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff; /* White icon color */
    transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
}

button.learn-more .circle .icon.arrow {
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff; /* White border color */
    border-right: 0.125rem solid #fff; /* White border color */
    transform: rotate(45deg);
}

button.learn-more .button-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #e1e0ee; /* Black text color */
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
}

button.learn-more:hover .circle {
    width: 100%;
}

button.learn-more:hover .circle .icon.arrow {
    background: #fff; /* White icon color */
    transform: translate(1rem, 0);
}

button.learn-more:hover .button-text {
    color: #fff; /* White text color */
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}


@media (max-width: 768px) {
    .heading-project h1 {
      font-size: 2rem; /* Smaller font size for mobile */
    }
  
    .projects-grid {
      grid-template-columns: 1fr; /* Single column for mobile */
      gap: 15px; /* Smaller gap for mobile */
      padding: 0 10px; /* Smaller padding for mobile */
    }
  
    .project-item {
      margin-bottom: 15px; /* Add space between items */
    }
  
    .project-info h2 {
      font-size: 1.25rem; /* Smaller heading for mobile */
    }
  
    .project-info p {
      font-size: 0.9rem; /* Smaller text for mobile */
    }
  
    .project-img {
      height: 150px; /* Smaller image container for mobile */
    }
  }

/* Project Link Styling */
.project-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    display: block; /* Make the link fill the entire project item */
    cursor: pointer; /* Show pointer cursor on hover */
  }
  
  .project-link:hover {
    text-decoration: none; /* Ensure no underline on hover */
  }

  .footerContainer{
    background-color: #242466;/* Blue background */
  }

  .footerBottom{
    padding: 20px;
    text-align: center;
    background-color: #242466;/* Blue background */
  }